[submodule "OasisLib"]
	path = OasisLib
	url = http://cs-cust06-int.cs.aau.dk/git-ro/oasis-lib.git
[submodule "GIRAF-components"]
	path = GIRAF-components
	url = http://cs-cust06-int.cs.aau.dk/git-ro/giraf-component
[submodule "pictogram-lib"]
	path = pictogram-lib
	url = http://cs-cust06-int.cs.aau.dk/git-ro/pictogram-lib
